.photofolio__column {
    border: 2px solid royalblue;
    display: flex;
}

.column__left {
    border: 2px solid bisque;
    flex: 33%;
    margin: 90px 0 0 30px;
}
.vertical__line{
    background-color: white;
    border: 1px solid rosybrown;
    min-width: 10px;
    border-radius: 10px;
}
.column__right {
    border: 2px solid bisque;
    flex: 33%;
    margin: 0px 30px 0px 0px;
}

.column__body {
    background-color: gray;
    border: 1px solid darkslateblue;
    margin-bottom: 90px;

}

.column__title {
    margin: 10px 20px;
    text-align: left;
}

.title {

}

